///////////////////////////////////////
// Colors

$color-primary: #d9d9d9;
$color-primary-dark-1: #563C2D; 
$color-primary-dark-2: #3c2214; 

///////////////////////////////////////
// Text
$text-heading: #e1c576;
$text-heading-light: #eddcad;

$text: #1B0F09;