body {
    background-color: $color-primary;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(max-content, 40rem) minmax(max-content, 20rem) max-content 1fr;

    position: relative;
}

.navigation {
    width: 100vw;
    height: 7.5rem;

    background-color: $color-primary-dark-2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 2fr 1fr;
    // gap: 20rem;

    align-items: center;

    &__logo {
        margin-left: 2rem;

        justify-self: start;

        cursor: pointer;
    }

    &__menu {
        // Spacing on the right
        margin-right: 5rem;

        // Making it a grid
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, min-content);

        // Alignment in main and sub grid aswell
        justify-content: space-between;

        &-item {
            // Text
            font-size: 2rem;
        }

        &-link {
            text-decoration: none;
            color: $text-heading;
            
            // Hover effect animation
            transition: all .3s ease;
        }

        &-link:hover {
            color: $text-heading-light;
        }
    }
}

.header {
    width: 100vw;
    height: 70rem;

    position: relative;
    overflow: hidden;

    &__background {
        height: 100%;
        width: 100%;
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;

        background-image: url("../../img/header-img.jpg");
        background-size: cover;

        filter: blur(.25rem);

        z-index: -1;
    }

    &__text-background {
        position: absolute;
        top: -6.25rem;
        left: 0;

        z-index: -1;
    }

    &__text {
        z-index: 1;

        position: absolute;
        bottom: 3.5rem;
        left: 2.5rem;

        line-height: 7rem;
        // line-height: 7rem;
        letter-spacing: .5rem;

        // transform: rotate(5deg);
    }
}
