body {
    // Styleing
    background-color: $color-primary;

    // Making it a grid
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(max-content, 40rem) minmax(max-content, 15rem) max-content 1fr;

    // Making it relative so every absolute positioned item relates to it if there isnt a nearer relative parent
    position: relative;
}

/////////////////////////////////////////////////////////
/// Navigation
.navigation {
    // Dimensions
    width: 100vw;
    height: 7.5rem;

    // Styling
    background-color: $color-primary-dark-2;

    // Making it a grid
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 2fr 1fr;

    // Alignment
    align-items: center;

    &__logo {
        // Spacing
        margin-left: 2rem;
        justify-self: start;

        cursor: pointer;
    }

    &__menu {
        // Spacing on the right
        margin-right: 5rem;

        // Making it a grid
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, min-content);

        // Alignment in main and sub grid aswell
        justify-content: space-between;

        &-item {
            // Text
            font-size: 2rem;
        }

        &-link {
            // Reset
            text-decoration: none;

            // Coloring
            color: $text-heading;

            // Shadows
            text-shadow: $shadow-general;

            // Hover effect animation
            transition: all .3s ease;
        }

        &-link:hover {
            // Change color on hover
            color: $text-heading-light;
        }
    }
}

/////////////////////////////////////////////////////////
/// Header
.header {
    // Dimensions
    width: 100vw;
    height: 70rem;

    // Make it the element that absolute position is related to
    position: relative;

    // Hide text background overflow
    overflow: hidden;

    &__background {
        // Dimensions
        height: 100%;
        width: 100%;

        // Positioning it a little bit to the top and right because the blur gives a little shiny border, so it hides it
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;

        // Giving it the picture as a background
        background-image: url("../../img/header-img.jpg");
        background-size: cover;

        // Bluring the background
        filter: blur(.25rem);

        // So it is under everything
        z-index: -5;
    }

    &__text-background {
        // Positioning
        position: absolute;
        top: -6.25rem;
        left: 0;

        // So ut us is under the text but on the backround at the same time
        z-index: -1;
    }

    &__text {
        // So it is on top of everything in the header
        z-index: 1;

        // Positioning the text to its place
        position: absolute;
        bottom: 3.5rem;
        left: 2.5rem;

        // Adjusting line height and letter spacing for a big text
        line-height: 7rem;
        letter-spacing: .5rem;

        // Shadow
        text-shadow: $shadow-heading;
    }
}

/////////////////////////////////////////////////////////
/// Motto
.motto {
    // So it fills the whole area given
    height: 100%;

    // Display as a grid
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;

    // Alignment of items
    align-items: center;
    justify-items: center;

    &__text {
        // Text styles
        font-size: 2rem;
        font-weight: 100;
        font-style: italic;
        color: $text;
    }

    &__divider {
        // Length of divider line
        width: 65%;
    }
}

/////////////////////////////////////////////////////////
/// About us
.about {
    // Dimensions
    width: 100%;

    // Spacing around
    padding: 20rem 10rem;

    // Making it a grid
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr max-content;

    // Spacing between the items
    gap: 2rem;

    // Alignment
    align-items: center;
    justify-content: space-around;

    &__text-box {
        // Dimensions
        height: 100%;
        width: 80%;

        // Making it a grid
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr min-content;

        // Spacing
        gap: 5rem;

        // Alignment
        align-content: space-between;
        align-items: end;

        &--heading {
            // Shadows
            text-shadow: $shadow-general;
            align-self: center;
            letter-spacing: .25rem;

            // Spacing
            margin-bottom: 1.2rem;
        }

        &--menu {
            // Dimensions
            height: 100%;

            // Making it a flexbox
            display: flex;
            flex-direction: column;

            // Alignment
            justify-content: space-between;

            &-item {
                // Text styling
                font-size: 2rem;
                color: $text;

                // Line, letter spacing
                line-height: 3rem;
                letter-spacing: .05rem;
            }
        }

        &--divider {
            // Dimensions
            width: 100%;
        }
    }

    &__image {
        // Dimensions
        @include square(50rem);

        // Placing it to the right end of the grid
        justify-self: end;

        // Rounded corners
        border-radius: 1rem;
    }
}

/////////////////////////////////////////////////////////
/// About us
.services {
    // Display as grid so it is in the middle at all cost
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: min-content minmax(160rem, 1fr);

    // Alignment to the middle
    justify-items: center;
    align-content: space-between;

    // Spacing between the rows
    gap: 5rem;

    // Spacing to the next section
    margin-bottom: 20rem;

    &__cards {
        // Dimensions
        width: 100%;

        // Spacing on the sides
        padding: 0 10rem;

        // Making it a grid
        display: grid;
        grid-template-rows: repeat(3, minmax(max-content, 1fr));
        grid-template-columns: repeat(6, minmax(max-content, 1fr));

        // Alignment
        justify-items: center;
        align-items: center;
    }

    &__heading {
        // Text styleing
        color: $text;
        text-decoration: underline;
        text-shadow: $shadow-small;
        letter-spacing: .1rem;

        // Spacing
        margin-bottom: 1.2rem;
    }

    &__card {
        // Border
        border: $card-border;
        border-radius: 1rem;

        // Making it a grid
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(3, min-content);

        // Alignment
        justify-items: center;
        justify-content: center;
        align-content: space-around;

        &--image {
            // Dimensions
            @include square(25rem);

            // Rounded edges
            border-radius: 1rem;
        }

        &--description {
            // Dimension
            width: 25rem;

            // Alignment
            text-align: center;

            // Text styles
            font-size: 1.8rem;
            font-weight: 300;

            // Readability
            line-height: 2.4rem;
            letter-spacing: .1rem;

        }
    }
}