body {
    font-family: "IMB Plex sans", sans-serif;
}

/////////////////////////////////
/// HEADINGS ////////////////////
/////////////////////////////////

.heading-primary {
    font-size: 9.8rem;
    color: $text-heading;
    
    &--2 {
        font-size: 7.4rem;
        
    }
}